#footer{
    text-align: center !important;
    font-size: 18px;
    padding-top: 1%;
    margin-left: 43%;

}

#footer-main{
    background-color: lightgrey;
}

.meni{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
#projectCreate{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 15%;
}
#createProject1{

    padding-left: 15%;
}

#erro{
    margin-left: 15%;
}
